* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.main_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inner_main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header_main {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  padding: 8px 15px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #fff;
  z-index: 1;
}
.header_main h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}
.right_demo {
  display: flex;
  align-items: center;
}
.right_demo h5 {
  font-weight: normal;
  font-size: 12px;
  max-width: 70px;
  width: 100%;
  text-align: center;
  margin-right: 10px;
}

.logo_side {
  display: flex;
  align-items: center;
}

.logo_side a {
  display: flex;
  align-items: center;
}
.logo_side a img {
  height: 60px;
}
.logo_side a h1 {
  font-weight: 900;
  font-size: 30px;
  margin-left: 10px;
  line-height: 35px;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.content_main {
  padding: 00px 0px;
  background: #000;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 74px;
}

.left_side_content {
  /* max-width: 40%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left_side_content h2 {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.left_side_content p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  line-height: 25px;
}
.download_links span a img {
  max-width: 120px;
  width: 100%;
  margin-right: 15px;
}

.download_links h5 {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
}

.right_side_content {
  display: flex;
  width: 100%;
}
.right_side_content img {
  width: 100%;
  max-width: 20%;
}

.right_side_content span {
  width: 20%;
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
}

.right_side_content .gif1 {
  background-image: url(../img/gifs/1.gif);
}
.right_side_content .gif2 {
  background-image: url(../img/gifs/2.gif);
}
.right_side_content .gif3 {
  background-image: url(../img/gifs/3.gif);
}
.right_side_content .gif4 {
  background-image: url(../img/gifs/4.gif);
}
.right_side_content .gif5 {
  background-image: url(../img/gifs/5.gif);
}
.item {
  width: 100%;
  background-repeat: no-repeat;
  height: 450px;
  background-size: cover;
}
.item.one {
  background-image: url(../img/gifs/1.gif);
}
.item.two {
  background-image: url(../img/gifs/2.gif);
}
.item.three {
  background-image: url(../img/gifs/3.gif);
}
.item.four {
  background-image: url(../img/gifs/4.gif);
}
.item.five {
  background-image: url(../img/gifs/5.gif);
}

.main_gif {
  width: 100%;
  background-repeat: no-repeat;
  height: 450px;
  background: url(../img/gifs/Hnet-image.gif);
}
.footer_main {
  width: 100%;
  display: flex;
  padding: 25px 15px;
  background: #000;
  border-top: 1px rgba(255, 255, 255, 0.2) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  justify-content: center;
}

.footer_main > div {
  display: flex;
  flex-direction: column;
}
.footer_main > div:nth-child(4n-2) {
  margin: 0 130px;
}
.footer_main > div:nth-child(4n-1) {
  margin-right: 130px;
}
.footer_list h3 {
  font-size: 17px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 15px;
  font-weight: 600;
}
.footer_list ul li {
  margin-bottom: 8px;
}
.footer_list ul li:last-child {
  margin-bottom: 0px;
}
.footer_list ul li a {
  color: #fff;
  font-size: 14px;
  /* padding: 5px; */
}

.social_links a {
  margin-right: 10px;
}
.social_links a img {
  width: 30px;
}

.footer_copy {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
}
.footer_copy p {
  font-size: 12px;
  color: #fff;
}

/* Inner Pages */
.main-content {
  color: #000;
}

.main-content h1 {
  font-weight: 500;
  margin-bottom: 10px;
}
.main-content h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 19px;
}
.main-content p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 21px;
}
.main-heading {
  font-size: 26px;
}
.main-content ul {
  padding-left: 30px;
  margin-bottom: 20px;
}
.main-content a {
  color: #ff9933;
}

.download_links {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: center;
  padding-top: 00px;
}

.download_links h5 {
  color: #000;
  margin: 0px;
  margin-right: 20px;
}
.download_links span {
  display: flex;
}
.download_links span a {
  display: flex;
  align-items: center;
}
.content_main.inner_page {
  padding: 30px 40px;
  background: #fff;
  border-top: 1px #f1f1f1 solid;
  margin-top: 76px;
}

.main_music {
  display: flex;
  width: 100%;
  padding: 40px 0;
  justify-content: center;
  background: url(../img/back_m.jpg);
  background-size: cover;
  align-items: center;
}
.main_music_section {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_section .download_links img {
  max-width: 180px;
  width: 180px;
}
.left_section .download_links .logo_mus {
  margin-bottom: 30px;
  max-width: 300px;
  width: 100%;
}
.left_section .download_links {
  display: flex;
  flex-direction: column;
}
/* .main_music {
  background: url(../img/music_back.jpg);
  background-repeat: no-repeat;
} */
.right_section img {
  height: 450px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 35px;
}

.owl-slider {
  display: none;
}
.abc li {
  font-size: 15px;
  margin-bottom: 10px;
}
.header_main.inner_pages .logo_side a.mobile {
  display: none;
}
@media screen and (min-width: 1600px) {
  .right_side_content span {
    height: 650px;
  }
}
@media screen and (max-width: 1024px) {
  .footer_main > div {
    max-width: 25%;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .download_links.header_down {
    display: none;
  }
  .header_main {
    display: none;
  }
  .header_main.inner_pages {
    display: flex;
  }
  .header_main.inner_pages h2 {
    display: none;
  }
  .content_main.inner_page {
    padding: 20px;
  }
  .header_main.inner_pages .logo_side a.desktop {
    display: none;
  }
  .header_main.inner_pages .logo_side a.mobile {
    display: flex;
  }
  .main_music {
    padding: 30px 50px;
  }
  .left_section .download_links .logo_mus {
    max-width: 250px;
  }
  .left_section .download_links img {
    max-width: 150px;
  }
  .footer_main > div:nth-child(4n-2) {
    margin: 0px;
  }
  .footer_main > div:nth-child(4n-1) {
    margin: 0px;
  }
  .left_section {
    margin-bottom: 80px;
  }
  .content_main {
    display: none;
  }
  .content_main.inner_page {
    display: flex;
  }
}
@media screen and (max-width: 640px) {
  .owl-slider {
    display: flex;
  }
  .main_music_section {
    flex-direction: column;
  }
  .main_music {
    background: url(../img/mobile_back.jpg);
    background-position: center;
    height: 100vh;
  }
  .download_links span a:last-child img {
    margin-right: 0px;
  }
}

@media screen and (max-width: 479px) {
  .main_music_section .left_section {
    margin-top: 0px;
  }
  .footer_main > div {
    max-width: 100%;
    margin-bottom: 30px !important;
    align-items: center;
  }
  .footer_main {
    flex-wrap: wrap;
  }
  .footer_main > div ul li {
    text-align: center;
  }
  .footer_main > div:last-child {
    margin-bottom: 0px !important;
  }
  .header_main h2 {
    font-size: 25px;
  }
  .footer_copy p {
    text-align: center;
  }
  .right_section img {
    height: 400px;
  }
}
